.about{
    padding:80px 20px;
    max-width: 1100px;
    margin: auto;
}
.about-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
}
.about-text{
    flex:1;
}
.about-text h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222;
}
.about-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #444;
}
.about-image img{
    width:330px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.868);
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 220px;
  }
}