.contact {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.contact h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}
.contact-subtitle {
  color: #555;
  margin-bottom: 40px;
}
.contact-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #4f46e5;
}
.contact-form button {
  align-self: flex-start;
  margin-top: 10px;
}

.contact-info {
  flex: 1;
  text-align: left;
}
.contact-info p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #444;
}
.contact-info span,
.contact-info a {
  font-weight: 600;
  color: #4f46e5;
  text-decoration: none;
  transition: 0.2s;
}
.contact-info a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-info {
    text-align: center;
  }
}
