.skills{
    padding: 80px 20px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
}
.skills h2{
    font-size: 2.2 rem;
    margin-bottom: 40px;
    font-weight: 700;
    color: #222;
}
.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
}
.skill-card{
    padding: 25px;
    background: #f8f8ff;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    color:#333;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: 0.25s ease;
    border:1px solid #eee;
}
.skill-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.08);
}